<div id='top-bar'>
  <div class='col-md-12 navbar navbar-default navbar-static-top'>
    <a href='https://www.youtube.com/watch?v=7GqClqvlObY' class='navbar-brand'>You are a Spy!</a>
    <ul class='nav navbar-nav navbar-right'>
      <li><a href= "/">Home</a></li>
    </ul>
  </div>
</div>
